<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="BibliotecaEntities" connectionString="metadata=res://*/BibliotecaEntityModel.csdl|res://*/BibliotecaEntityModel.ssdl|res://*/BibliotecaEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CRISTIAN-PC\SQLEXPRESS;initial catalog=Biblioteca;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>