USE [master]
GO
/****** Object:  Database [Tareas]    Script Date: 06/02/2019 01:44:50 a.m. ******/
CREATE DATABASE [Tareas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tareas', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Tareas.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Tareas_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Tareas_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tareas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tareas]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 06/02/2019 01:44:50 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [tinyint] NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estado]    Script Date: 06/02/2019 01:44:51 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Id] [tinyint] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Ordinal] [smallint] NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prioridad]    Script Date: 06/02/2019 01:44:51 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridad](
	[Id] [tinyint] NOT NULL,
	[Nombre] [nchar](10) NOT NULL,
	[Ordinal] [smallint] NOT NULL,
 CONSTRAINT [PK_Prioridad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 06/02/2019 01:44:51 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[Id] [uniqueidentifier] NOT NULL,
	[Asunto] [nvarchar](200) NOT NULL,
	[FechaDesde] [smalldatetime] NOT NULL,
	[FechaVencimiento] [smalldatetime] NOT NULL,
	[FechaCompletada] [smalldatetime] NULL,
	[IdEstado] [tinyint] NOT NULL,
	[IdPrioridad] [tinyint] NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Tarea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TareaCategoria]    Script Date: 06/02/2019 01:44:51 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TareaCategoria](
	[IdTarea] [uniqueidentifier] NOT NULL,
	[IdCategoria] [tinyint] NOT NULL,
 CONSTRAINT [PK_TareaCategoria] PRIMARY KEY CLUSTERED 
(
	[IdTarea] ASC,
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TareaUsuario]    Script Date: 06/02/2019 01:44:51 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TareaUsuario](
	[IdTarea] [uniqueidentifier] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_TareaUsuario] PRIMARY KEY CLUSTERED 
(
	[IdTarea] ASC,
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/02/2019 01:44:51 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([Id])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Estado]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Prioridad] FOREIGN KEY([IdPrioridad])
REFERENCES [dbo].[Prioridad] ([Id])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Prioridad]
GO
ALTER TABLE [dbo].[TareaCategoria]  WITH CHECK ADD  CONSTRAINT [FK_TareaCategoria_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[TareaCategoria] CHECK CONSTRAINT [FK_TareaCategoria_Categoria]
GO
ALTER TABLE [dbo].[TareaCategoria]  WITH CHECK ADD  CONSTRAINT [FK_TareaCategoria_Tarea] FOREIGN KEY([IdTarea])
REFERENCES [dbo].[Tarea] ([Id])
GO
ALTER TABLE [dbo].[TareaCategoria] CHECK CONSTRAINT [FK_TareaCategoria_Tarea]
GO
ALTER TABLE [dbo].[TareaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TareaUsuario_Tarea] FOREIGN KEY([IdTarea])
REFERENCES [dbo].[Tarea] ([Id])
GO
ALTER TABLE [dbo].[TareaUsuario] CHECK CONSTRAINT [FK_TareaUsuario_Tarea]
GO
ALTER TABLE [dbo].[TareaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TareaUsuario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[TareaUsuario] CHECK CONSTRAINT [FK_TareaUsuario_Usuario]
GO
USE [master]
GO
